* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

article {
    width: 560px;
    height: 400px;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

/*** Images ***/

article .desktop-img {
    height: 100%;
    border-radius: 10px 0 0 10px ;
}

article .mobile-img {
    display: none;
}

/**** Text section ****/

article section {
    padding: 30px;
}

article section h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-size: 30px;
    padding-right: 10px;
    margin-bottom: 20px;
    line-height: 32px;
    font-weight: bold;
}

article section p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 10px 0 10px 0;
    line-height: 22px;
    color: hsl(228, 12%, 48%);
}

article section .top {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 0;
    font-size: 12px;
}

article section .prices {
    display: flex;
}

article section .new-price {
    font-family: 'Fraunces', serif;
    font-size: 30px;
    color: hsl(158, 36%, 37%);
    margin-bottom: 25px;
    font-weight: bold;
}

article section .old-price {
    text-decoration: line-through;
    padding-left: 20px;
}

/**** Button ****/

article section button {
    height: 40px;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    border: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
}

article section button img {
    padding: 10px;
}

article section button:hover {
    background-color: hsl(158, 38%, 23%);
    transition: .5s;
    cursor: pointer;
}

/**** Mobile version ****/

@media screen and (max-width: 600px) {

    article {
        flex-direction: column;
        width: 330px;
        height: 580px;
    }

    article .desktop-img {
        display: none;
    }

    article .mobile-img {
        border-radius: 10px 10px 0 0;
        display: block;
        width: 100%;
    }

    article section {
        padding: 20px;
    }

}